/* * {
  padding: 0;
  margin: 0;
} */

body {
  background-color: #ffffff;
  font-family: Roboto, Raleway;
  font-size: 14px;
  line-height: ;
  color: #757575;
}

/* основной цвет 757575 серый*/
/* второстепенный цвет 212121 темно-серый */
/* второстепенный цвет 000000 черный */
/* второстепенный цвет 2196F3 голубой*/

/* header */

/* .page-header {
  text-decoration: none;
} */

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #000000;
}

.logo-item {
  color: #2196F3;
}

.site-nav .link{
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196F3;
}

.contacts-link {
  color: #757575;
}

.contacts-link:hover, 
.contacts-link:focus {
  color: #2196F3;
}

/* hero */

.hero-section {
  background-color: #2F303A;
}

.title-1 {
  font-size: 44px;
  color: #ffffff;
  text-transform: uppercase;
}

.auth-button {
  font-size: 16px;
  background-color: #2196F3;
  color: #ffffff;
  cursor: pointer;
}

.nav-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: #F5F4FA;
  color: #212121;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-button:hover,
.nav-button:focus {
  background-color: #2196F3;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}